<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iosoft.hidayat.personalfinance">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_wallet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.iosoft.hidayat.personalfinance.TransactionNew"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NewDialog">
        </activity>
        <activity android:name=".TransactionCategory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.CategoryChoice">
        </activity>
        <activity
            android:name="com.iosoft.hidayat.personalfinance.BudgetNew"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NewDialog">
        </activity>
        <activity android:name=".BudgetCategory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.CategoryChoice">
        </activity>
    </application>


</manifest>